<div id="modal-container-1" *ngIf="showModal">
    <div class="modal-container-2">
        <button (click)="onClose()" class="search-button" style="float: right;">close</button>
        
        <div class="flex-flow-column">
<!-- New category section -->

            <div class="flex-flow-column modal-container-3" *ngIf="viewNumber == 0">
                <label for="categoryId">categoryId</label>
                <input class="modal-input" type="text" name="categoryId">
                
                <label for="parents">parents</label>
                <input class="modal-input" placeholder="comma separated" type="text" name="parents" />
                
                <label for="data" >Json Data</label>
                <input class="modal-input" placeholder="valid json data only" type="text" style="height: 5em;" name="data" />
                
                
                <button class="search-button modal-button" type="submit">save</button>

            </div>

<!-- Delete section -->

            <div class="flex-flow-column modal-container-3" *ngIf="viewNumber == 1">
                <label for="id">Category Id</label>
                <input class="modal-input" type="text" name="id">
                <button class="search-button modal-button" type="submit">delete</button>

            </div>

<!-- UPDATE section -->

            <div class="flex-flow-column modal-container-3" *ngIf="viewNumber == 2">
                <label for="id">Category Id</label>
                <input class="modal-input" type="text" name="id" readonly>

                <label for="parents">parents</label>
                <input class="modal-input" placeholder="comma separated" type="text" name="parents" />
                
                <label for="data" >Json Data</label>
                <input class="modal-input" placeholder="valid json data only" type="text" style="height: 5em;" name="data" />
                <button class="search-button modal-button" type="submit">update</button>

            </div>

        </div>
    </div>
    <div>
        
    </div>
</div>